<mat-toolbar>
    <section fxLayout="row"
            fxLayoutAlign="space-between stretch"
            fxFlex>
        <span>Campaign: {{campaign?.name}}</span>
        <span>Total Duration: {{campaignDuration | time}}</span>
    </section>
</mat-toolbar>
<ng-template #loading>
    <mat-progress-bar mode="indeterminate"
                      color="accent"></mat-progress-bar>
</ng-template>
<section fxLayout="row"
         fxLayoutAlign="start stretch">
    <vertical-panel header="Sessions">
        <section fxLayout="column"
                 fxLayoutAlign="start stretch"
                 [style.width.px]="400">
            <ng-container *ngIf="sessionSrc?.queryResult$ | async as query else loading">
                <section fxLayout="row"
                         fxLayoutAlign="start stretch">
                    <button mat-stroked-button
                            class="m4"
                            aria-label="New Session"
                            (click)="addSession()">
                        New Session
                    </button>
                </section>
                <async-source-layout [src]="sessionSrc"
                                     searchLabel="search sessions">
                    <data-card *ngFor="let session of query.data"
                               [data]="session"
                               (edit)="edit($event)"
                               (view)="view($event)"
                               (remove)="remove($event)">
                        <session-display [session]="session"></session-display>
                    </data-card>
                </async-source-layout>
            </ng-container>
        </section>
    </vertical-panel>
    <vertical-panel header="Events">
        <section fxLayout="column"
                 fxLayoutAlign="start stretch"
                 [style.width.px]="400">
            <ng-container *ngIf="eventSrc?.queryResult$ | async as query">
                <section fxLayout="row"
                         fxLayoutAlign="start stretch">
                    <button mat-stroked-button
                            class="m4"
                            aria-label="New Event"
                            (click)="addEvent(session.id)">
                        New Event
                    </button>
                </section>
                <async-source-layout [src]="eventSrc"
                                     searchLabel="search events">
                    <data-card *ngFor="let event of query.data"
                               [data]="event"
                               (edit)="editEvent($event)"
                               (view)="viewEvent($event)"
                               (remove)="removeEvent($event)">
                        <section fxFlex>
                            <section fxLayout="row"
                                     fxLayoutAlign="start stretch"
                                     class="p4">
                                <p class="m4">{{event?.title}}</p>
                                <p class="m4">{{event?.eventType?.type}}</p>
                            </section>
                            <section class="p4">
                                <p class="m4">Total Duration: {{event?.totalDuration | time}}</p>
                            </section>
                            <section class="p4">
                                <p class="m4">Notes: {{event?.notes | truncate}}</p>
                            </section>
                        </section>
                    </data-card>
                </async-source-layout>
            </ng-container>
            <p *ngIf="!eventSrc?.queryResult$">Select a Session to load Events.</p>
        </section>
    </vertical-panel>
    <section fxLayout="column"
             fxLayoutAlign="start stretch"
             fxFlex>
        <section fxLayout="row"
                 fxLayoutAlign="center star">
            <clock *ngIf="hour"
                [hour]="hour"
                [minute]="minute"></clock>
        </section>
        <section fxLayout="row"
                 fxLayoutAlign="start stretch"
                 class="card-outline-accent"
                 fxFlex>
            <event-editor *ngIf="sessionEvent?.sessionId"
                          [sessionEvent]="sessionEvent"
                          (saved)="saveEvent($event)"></event-editor>
        </section>
    </section>
    <router-outlet></router-outlet>